:root {
    --green: #125B50;
    --gold: #f8b400;
    --palegold: #faf5e3;
    --rosepink: #ff6363;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Sniglet', sans-serif;
    background: linear-gradient(var(--palegold), var(--gold));
    background-repeat: no-repeat;
}

header {
    background: var(--green);
    color: var(--palegold);
    padding: 15px 10px;
    font-size: 2rem;
    box-shadow: 0 0 15px black;
    position: relative;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

main > button {
    margin-top: 10%;
    padding: 15px;
}

#animal-button-group > button,
main > button {
    font-family: inherit;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--gold);
}

figure {
    margin: 15px;
}

img {
    width: 100%;
}

header > a,
footer > a {
    color: var(--palegold);
    text-decoration: none;
}

#animal-button-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#animal-button-group > button {
    margin: 0.5rem;
    width: 15%;
    min-width: 160px;
    display: flex;
    justify-content: center;
}

#info-message, 
#endgame-message {
    font-size: 2rem;
    padding: 10px;
    text-align: center;
}

#endgame-message {
    margin-top: 5%;
}

#info-message {
    margin-bottom: 5%;
}